body {
    background-color: dimgrey;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.mainDiv {
    border-color: black;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    background-color: lightgray;
    display: inline;
    float: left;
    padding: 8px;
    width: 20%;
    margin: 0 0 0 0;
}

#settingsDiv {
    width: 15%;
    float: right;
    background-color: aliceblue;
    padding: 8px;
}

.subDiv {
    border-radius: 16px;
    border-color: black;
    border-style: solid;
    width: 90%;
    height: fit-content;
    background-color: darkgray;
    padding: 8px;
    text-align: right;
    margin: auto;
}

.stuffCount {
    font-size: 22px;
    font-weight: 4px;
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 36px;
}

h3 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    margin-top: 4px;
    margin-bottom: 4px;
}

h4 {
    font-family: 'Courier New', Courier, monospace;
    color: darkblue;
    font-size: 24px;
    margin: 0;
    text-align: center;
}

button {
    border-radius: 10%;
    padding: 8px;
    background-color: lightsteelblue;
    transition: 0.5s;
    margin-left: 16px;
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: auto;
}

button:hover {
    background-color: steelblue;
    cursor: pointer;
}

.routeInfoP {
    font-size: 20px;
    display: inline;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

.addRollingStockButton {
    padding: 0;
    float: right;
    display: inline;
    margin: 0;
    width: 10%;
    height: 80%;
    text-align: center;
}

#routeInfo {
    margin: auto;
    display: none;
    height: fit-content;
    text-align: left;
    padding: 12px;
}

.settingButton {
    margin: auto;
    width: 90%;
    display: block;
}

.subRouteDiv {
    width: 98%;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
    background-color: cadetblue;
    margin: auto;
    height: fit-content;
    padding: 4px;
    height: 50px;
}

#routeControlDiv {
    display: none;
    height: fit-content;
    padding: 4px;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
    background-color: slategray;
}

.routeControlButton {
    width: fit-content;
    height: fit-content;
    margin: auto;
    font-size: 20px;
    padding: 5px;
    display: none;
}

#countdownTimer {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#info {
    font-size: 12px;
    font-weight: 4px;
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
    text-justify: inter-word;
}

.shopButton {
    font-size: 15px;
    padding: 4px;
    display: block;
    width: 90%;
    margin: auto;
}

a {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    margin: auto;
    margin-top: 0;
}

#subNoteworthyDiv {
    text-align: center;
}

.bottomMainDiv {
    width: 48%;
    display: inline;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    margin: 0;
    background-color: lightgray;
    float: left;

}
